/* glamorous checkbox preset */
#payt4 {display: none;}
[for="payt4"] {
	display: inline-block;
	padding:px;
	border-radius: 100px;
	background: rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4) inset, 0 1px 1px 0 rgba(255, 255, 255, .1);
	text-shadow: 0 1px rgba(0, 0, 0, .5);
	cursor: pointer;
}
[for="payt4"]:before, [for="payt4"]:after {
	display: inline-block;
	padding: 0px 20px;
}
[for="payt4"]:before {
	content: "ON";
	border-radius: 100px 0 0 100px;
	background: rgba(0, 0, 0, .3) linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
	color: rgba(0,0,0,.4);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
}
[for="payt4"]:after {
	content: "OFF";
	border-radius: 0 100px 100px 0;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.3));
	box-shadow: inset 0 0px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
}
#payt4:checked ~ [for="payt4"]:after {
	background: rgba(0, 0, 0, .3) linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
	box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
	color: rgba(0,0,0,.4);
}
#payt4:checked ~ [for="payt4"]:before {
	box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.3));
	color: inherit;
}
/* toolbar */
.for_print .webix_ss_header td {
	font-size: 11px
}
.for_print .webix_column {
	font-size: 11px
}
.for_print .webix_ss_footer td {
	font-size: 11px !important;
}
.toolbar_button button{
	padding:0;
	text-align:center;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
}

.grey {
	color: #828282 !important;
}

.bold {
	font-weight: bold;
}

.green {
	color: #5DC93D;
}

line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

#form {
  position: relative;
  bottom: 27px;
  right: 50px;
}

input {
  width: 140px;
}

span {
  position: relative;
  top: -3px;
}

output {
  display: inline-block;
  width: 3.5em;
}
.logo{
	background:url("zvo-logo-title.svg") 2px 0px no-repeat;
}
.logo_without_title{
	background:url("zvo-logo-small.png") 2px 0px no-repeat;
}
.camera{
	background:url("video-camera-1.svg") 0px 6px no-repeat;
}
.myhover{
	background: rgba(221, 78, 48, 0.22);
}
.bt_1 button{
			background: linear-gradient(180deg, #C7442A 0%, #821600 100%);
			border:1px solid #FFFFFF;
			box-shadow: inset 0px 1px 1px #FFFFFF;
			-webkit-box-shadow: inset 0px 1px 1px #FFFFFF;
			color:#FFFFFF;
			font-size: 15px;
		}
.bt_1 button:hover{
			background: #C7442A;
		}
.bt_1 button:active{
	background: #821600;
}
.bt_2 button{
	background: linear-gradient(180deg, #FF2727 0%, #FF2727 100%);
	border:1px solid #FFFFFF;
	box-shadow: inset 0px 1px 1px #FFFFFF;
	-webkit-box-shadow: inset 0px 1px 1px #FFFFFF;
	color:#FFFFFF;
	font-size: 15px;
}
.bt_2 button:hover{
	background: #C7442A;
}
.bt_2 button:active{
	background: #821600;
}
.badRow{
	background: rgba(221, 12, 19, 0.5);
}
.warnRow{
	background: rgba(221, 207, 17, 0.5);
}
.goodRow{
	background: rgba(32, 221, 25, 0.5);
}
.special_button input{
	background: linear-gradient(180deg, #C7442A 0%, #821600 100%)  !important;
}
.del_element{
	background: url("close-1.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.del_element:hover{
	background: url("close-2.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.del_element:active{
	background: url("close-3.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}.add_element{
	background: url("plus-1.svg") no-repeat;
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.add_element:hover{
	background: url("plus-2.svg") no-repeat;
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.add_element:active{
	background: url("plus-3.svg") no-repeat;
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.change_element{
	background: url("change-element-2.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.change_element:hover {
 	background: url("change-element-1.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.ellipse:hover {
	background: url("ellipse.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.change_element:active {
 	background: url("change-element-3.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.save_element{
	background: url("save-1.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.save_element:hover {
 	background: url("save-2.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.save_element:active {
 	background: url("save-3.svg");
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.hide_element{
	background: url("hide-1.svg");
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.hide_element:hover {
 	background: url("hide-2.svg");
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.hide_element:active {
 	background: url("hide-3.svg");
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.xlsx{
	background: url("xlsx-1.svg") no-repeat;
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.xlsx:hover {
 	background: url("xlsx-2.svg") no-repeat;
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.xlsx:active {
 	background: url("xlsx-3.svg") no-repeat;
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.show_element{
	background: url("see-1.svg");
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.show_element:hover {
 	background: url("see-2.svg");
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.show_element:active {
 	background: url("see-3.svg");
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.upload_element{
	background: url("upload-1.svg") no-repeat;
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.upload_element:hover {
 	background: url("upload-2.svg") no-repeat;
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.upload_element:active {
 	background: url("upload-3.svg") no-repeat;
	width:28px;
	height:28px;
	margin-top:5px;
	margin-left:8px;
	position:relative;
}
.print_element{
	background: url("print-1.svg") no-repeat;
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.print_element:hover {
 	background: url("print-2.svg") no-repeat;
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.print_element:active {
 	background: url("print-3.svg") no-repeat;
	width:24px;
	height:24px;
	margin-top:7px;
	position:relative;
}
.text {
	padding:4px 4px 4px 16px;
	display:inline-block;
}
/* transactions grid */
.success, .waiting, .failed, .incoming, .payment{
	font-size: 20px;
	margin-top: 8px;
}
.success{
	color:#55CD97;
}
.waiting{
	color:orange;
}
.failed{
	color:#FF5C4C;
}
.incoming{
	color:#41ad7c;
}
.method{
	margin-bottom:-8px;
	margin-right:8px;
}
/* notifications */
.notifications .webix_list_item,
.notifications .webix_list_item.webix_selected{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight:500;
	color:#313131;
}
.notifications .webix_list_item .message{
	display:block;
	color:#475466;
}
/* form */
.webix_view.form_photo > div{
	padding:0px;
}
/* iframes */
.webix_view.ifr_template .webix_template{
	padding:0px;
}
.webix_view.ifr_template > .webix_disabled{
	opacity:1 !important;
}
/* headers (templates) */
.webix_view.chart_header{
	text-align: center;
}
.bought{
	color:#8664C6;
}
.sold{
	color:#1CA1C1;
}
/* form */
.input_label{
	font-weight:500;
}
/* tinyMCE */
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
	color:#94A1B3 !important;
}
.mce-btn-group:not(:first-child){
	border-left:1px solid #DADEE0 !important;
}
.mce-panel{
	border-color:#DADEE0 !important;
	box-shadow:none !important;
}
.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item{
	border: 0px !important;
}
.mce-top-part::before{
	box-shadow:none !important;
	border-bottom:1px solid #DADEE0 !important;
}
cosmic{
	font-size: 38pt;
}
.rank .webix_cell, .rank.webix_hcell {
	text-align:center;
}
.rank{
	float: left;
	font-weight: bold;
	padding: 0 5px;
}
.title{
	width: 330px;
	overflow: hidden;
	float: left;
}
.buttons, .checkbox{
	padding-left: 10px;
	height: 60px;
	padding-top:10px;
	float:right;
}
.no-borders {
	border: 0px !important;
}
.divider {
	border-bottom: 1px solid #828282;
}